/* General Styles */

/* Wrapper Styles */
.wrapper {
	padding: 0;
	margin: 20px auto;
	background: var(--font-color);
	border-radius: 10px;
	text-align: center;
	box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
	color: var(--sec-color);
	width: fit-content;
	max-width: 600px;
	overflow: hidden;
}

.wrapper h1 {
	font-size: 2rem;
	color: var(--prim-color);
	margin-bottom: 1rem;
}

.wrapper form label {
	margin-left: 0;
}

.wrapper form input {
	width: calc(100% - 20px);
	padding: 6px 8px;
	margin: 4px auto;
	border-radius: 10px;
	background: var(--font-color);
	border: 1px solid #979797;
	outline: none;
	min-width: 200px;
}

.wrapper input:focus {
	border: 1px solid var(--forth-color);
	box-shadow: 2px 2px 4px var(--forth-color);
}

/* Form Styles */
.form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	color: var(--forth-color);
	background: white;
	gap: 30px;
}

.form .leftGroup,
.form .rightGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-align: center;
}

.form .leftGroup {
	padding: 20px 10px;
}

.form .leftGroup .formGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.leftText {
	font-size: 14px;
	text-align: center;
	border-top: 2px solid var(--prim-color);
	border-bottom: 2px solid var(--prim-color);
	padding: 10px;
	width: calc(100% - 20px);
}

.form .rightGroup {
	background-color: var(--prim-color);
	color: var(--font-color);
	min-height: 100%;
	border-radius: 50% 0 0 50%;
	transition: all 0.3s ease-in-out;
	padding: 0;
}

.form .rightGroup .socialIcons {
	margin-inline: 0;
}

/* Form Group Styles */
.formGroup {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin: 5px auto;
	padding: 0 10px;
	width: calc(100% - 20px);
	text-align: left;
}

#loginForm {
	min-width: 240px;
}

#loginForm .formGroup label {
	margin-left: 0;
}

/* Terms Styles */
.wrapper .terms {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	margin: 20px auto 10px;
	text-align: left;
	gap: 10px;
	width: 90%;
}

.wrapper .terms input {
	margin: 0;
	transform: scale(1.5);
	vertical-align: middle;
	cursor: pointer;
	width: fit-content !important;
	min-width: 20px !important;
}

.wrapper .terms label {
	font-size: 0.9rem;
	width: fit-content;
}

.wrapper .terms a {
	text-decoration: none;
	color: #236cf3;
}

/* Login and Recover Styles */
.wrapper .login,
.wrapper .recover {
	font-size: 0.8rem;
	margin-top: 1rem;
	color: #636363;
}

.wrapper .login a,
.wrapper .recover a {
	text-decoration: none;
	color: #236cf3;
}

/* Social Login Styles */
.socialLogin {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -10px;
	gap: 10px;
	width: 100%;
	padding: 0;
}

.socialLogin .socialIcons {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 80%;
	margin-top: 10px;
}

.socialLogin .socialIcons .socialLoginBtn:hover {
	background-color: var(--font-color);
}

.socialLoginBtn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--forth-color);
	color: var(--prim-color);
	border: none;
	outline: none;
	border-radius: 10px;
	font-size: 18px;
	width: calc(100% - 20px);
	height: 40px;
	box-shadow: 2px 2px 4px var(--prim-color);
	padding: 0 20px;
	margin: 0;
	cursor: pointer;
	transition: background 0.3s ease, font-size 0.3s ease;
}

.socialLoginBtn:hover {
	background: transparent;
	font-size: 20px;
}

/* Media Queries */
@media screen and (max-width: 550px) {
	.form {
		grid-template-columns: 1fr;
		max-width: 90vw;
		box-shadow: 1px 1px 8px 0 var(--forth-color);
		background: linear-gradient(180deg, white, var(--forth-color));
	}

	.form .rightGroup {
		margin: 0;
		padding: 10px 0;
		border-radius: 30% 30% 0 0;
	}

	.form .leftGroup {
		margin-bottom: 0;
		padding-bottom: 0;
	}
}

/* Body Content Styles */
.bodyContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 50px auto;
	margin-top: 150px;
	width: 100%;
	min-height: 82vh;
	text-align: center;
	color: var(--forth-color);
}

/* Error Message Styles */
.errorMessage {
	color: red;
}

/* Logo Styles */
.logo {
	border-radius: 50%;
}
