.addItems {
	padding: 0;
	scroll-margin: 20px;
}

.addItemsContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	padding: 20px 0;
	max-height: 82vh;
	overflow: hidden;
	max-width: 1000px;
	margin: 0 auto;
	overflow-clip-margin: 20px;
}

.itemList {
	display: grid;
	grid-template-columns: 1fr;
	align-content: start;
	background-color: var(--tet-color);
	padding: 20px;
	box-shadow: inset 0 0 5px 0 grey;
	border-radius: 10px;
	gap: 20px;
	max-height: 70vh;
	overflow-y: auto;
	scroll-padding: 20px;
	overflow-clip-margin: 20px;
	overflow-clip-box: padding-box;
}

.addItems button {
	max-height: 40px;
	background-color: var(--forth-color);
	border: none;
	border-radius: 10px;
	padding: 5px 10px;
	font-size: 19px;
	color: var(--font-color);
}

.addItems button:hover {
	background-color: grey;
}

.selectedItems {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--tet-color);
	padding: 20px;
	box-shadow: inset 0 0 5px 0 grey;
	border-radius: 10px;
	gap: 10px;
	max-height: 70vh;
}

.selectedItemsList {
	display: grid;
	grid-template-columns: 1fr;
	background-color: var(--tet-color);
	gap: 10px;
	height: 100%;
	overflow-y: auto;
	align-content: start;
}

.response {
	margin: 20px auto;
	border: 2px solid var(--prim-color);
	border-inline: none;
	padding: 20px;
}

.response ul {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	gap: 10px;
	margin: 20px auto;
}

.item {
	display: flex;
	flex-wrap: nowrap;
	background-color: white;
	justify-content: flex-start;
	align-items: center;
	gap: 20px;
	padding: 0px 10px;
	border-radius: 10px;
	min-height: 50px;
	height: fit-content;
}

.item img {
	max-height: 40px;
	width: auto;
}

.item:hover {
	background-color: var(--forth-color);
	color: var(--font-color);
}

.item input {
	width: 25px;
	height: 25px;
	border-radius: 20px;
	color: var(--prim-color);
}

.item input:focus {
	outline: none;
}

.terminal {
	background-color: rgb(34, 34, 34);
	color: rgb(202, 202, 202);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	padding: 20px;
	border-radius: 10px;
	width: calc(100% - 40px);
	min-height: 100px;
	max-height: 300px !important;
	box-shadow: inset 0 0 5px 0 grey;
	margin-top: 20px;
	font-size: 14px;
	display: grid;
	gap: 10px;
}

.logs {
	display: grid;
	grid-template-columns: 1fr;
	gap: 5px;
	overflow-y: auto;
	max-height: 200px;
	font-size: 12px;
}
