.container {
	display: grid;
	grid-template-columns: 1fr 2fr;
	max-width: 90%;
	margin: 150px auto 50px auto;
}
.contactsSection {
	padding: 20px;
	border-right: 1px solid #ccc;
}

.formSection {
	flex: 2;
	padding: 20px;
}

.formSection button {
	padding: 10px 20px;
	background-color: var(--forth-color);
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.formSection button:hover {
	background-color: var(--tet-color);
	color: var(--forth-color);
}

.logo {
	max-width: 200px;
}

.formSection h2 {
	margin-bottom: 20px;
}

.formSection form div {
	margin-bottom: 15px;
}

.formSection form label {
	display: block;
	margin-bottom: 5px;
}

.formSection form input,
.formSection form textarea {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.formSection form textarea {
	resize: vertical;
	min-height: 100px;
}
